@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
    font-family: 'Vollkorn', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("paper.jpg");
    padding: 5px 60px;
    background-size: 400px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.separator {
    max-width: 45px;
}

a {
    font-size: 20px;
    color: #E5E7EB;
    text-decoration: none;
}

.headerlogo {
    font-size: 32px;
    font-weight: bold;
    color: #f9faf8;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 20%;
    gap: 10px;
}

.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.heromain {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.herosecond {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    width: 120px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 15px 3px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 38px;
    font-weight: 900px;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 25px;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid #1F2937;
    border-radius: 20px;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px 25%;
}

.quotecm {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quotewho {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    color: #1f2937;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 25%;
}

.discord {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    background-color: #5865F2;
    gap: 10px;
    color: #F9FAF8;
}

.discord .left {
    font-size: 30px;
}

.discord .subleft {
    font-size: 18px;
}

.discord .right {
    border: 2px solid #FFF;
    background-color: #6a75ee;
    color: #F9FAF8;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background: #1F2937;
    color: #f9faf8;
}